.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  align-items: center;
  font-size: 18px;

  /* background-color: cadetblue; */
  /* background-color: var(--color-med-darkblue);
  color: var(--color-darkblue); */
  background-color: var(--color-midpurple);
  color: var(--color-darkpurple);
}

.contact {
  display: flex;
  align-items: center;
  gap: 2rem;
}

a {
  /* color: var(--color-darkblue); */
  color: var(--color-darkpurple);
}

.notepad {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* background-color: var(--color-lightblue);
  color: var(--color-darkblue); */
  background-color: var(--color-lightpurple);
}
